html {
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: cover;

}
h1 {
  font-size: 2em;
  color: #36454f;
  text-align: center;
  margin: 10px;
}

p {
    word-wrap: break-word;
    padding: 8px;
}

p::first-letter {
  font-size: 200%;

}

td {
    padding: 10px;
    width: 50vw;
}

#header {
    font-size: 150%;
}

.div1 {
    background-color: yellow;

}

.box1 {
    background-color: #68d5ff;
    opacity: 0.5;
    width: 45%;
    height: 90vh;
    float: left;
    margin-bottom: 20px;
}

.box1:hover {
    opacity: 1;
}

.box3:hover {
    opacity: 1;
}


.box2 {
    width: 50%;
    height: auto;
    float: right;
    margin: 10px;
}

.box2:hover {
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: auto;
}

.box3 {
    background-color: #68d5ff;
    opacity: 0.5;
    width: 45%;
    height: 90vh;
    float: right;
    margin-bottom: 20px;
}

.box2 img{
    width: 100%;
    height: auto;
}

footer {

    margin-left: 25%;
    float: left;
    text-align: center;
}
