body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-image: url('/images/barn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style-type: none;
}
#footer{
  position: fixed;
  bottom: 0;
  width: auto;
  width: 100%;
  background-color: salmon;
}

#bodyimg{
  margin-bottom: 10%;
}

#body{
  background-color: cornsilk;
  padding-top: 10px;
  margin-top: 10px;
}
