.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #587D71;
  height: 150px;
  width:100%;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  padding-bottom: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-counterspin {
  from { transform: rotate(360deg);}
  to { transform: rotate(0deg);}

}

.pic:hover {
    animation: App-logo-counterspin infinite 50s linear;
}
