.App {
  text-align: center;
}

#spin {
  display: inline-block;
  animation: word-spin infinite 0.01s linear;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes word-spin {
  from { transform: rotate(-5deg);}
  to { transform: rotate(5deg);}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
